.primary-color {
  color: @primary-color;
}

.ant-table-cell-fix-right div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.ant-table-cell-fix-right span {
  color: @primary-color;
  cursor: pointer;
  padding: 10px;
}

.ant-form-item-label {
  width: 110px;

  label {
    width: 90%;
    word-wrap: break-word;
    word-break: normal;
    white-space: normal;
    display: block;
    height: auto;
    letter-spacing: 1px;

    &::after {
      display: none;
    }
  }
}

.ant-form-item-row {
  align-items: center;
}
