/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable selector-max-type */
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  color: #585858;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-variant: tabular-nums;
  font-feature-settings: 'tnum';
  background: #ffffff;
  text-size-adjust: 100%;
  line-height: 1.5715;
}

a {
  color: #2d374b;
  text-decoration: none;
}

a:hover {
  color: #cd0200;
  text-decoration: underline;
}

em {
  font-style: normal;
}

li {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  word-wrap: break-word;
}

html {
  --antd-wave-shadow-color: #00ab52 !important;
  --scroll-bar: 0;

  text-size-adjust: 100%;
}

/* stylelint-disable-next-line selector-max-id */
#root {
  height: 100%;
}
